svg { fill: none; stroke: #000000; stroke-width: 0.5; }
text { font-family: 'TUD Euro-8-Braille equidistant Standard'; font-size: 36pt; fill: black; stroke: black; stroke-width: 4.5; }
#grid { stroke: none; }
#axes, #reference-lines { stroke: #111111; fill: transparent; stroke-width: 2}
#plots { stroke-width: 2.0; stroke-dasharray: none; }
#overlays { stroke: none; stroke-dasharray: none; fill: transparent; }
#x-axis-arrow, #y-axis-arrow { fill:black; stroke-width:3; }
.poi_symbol { stroke: black; stroke-dasharray: none; stroke-width:2;  fill: black; }
.poi_symbol_bg { stroke: white; stroke-dasharray: none; stroke-width: 6.0;  fill: transparent; stroke-linecap: round}
.integral { stroke: white; stroke-dasharray: none; stroke-width:6.0;}
.integral-1 { fill: url(#diagonal_line1_PD); }
.integral-2 { fill: white; } 